[submodule "3rdparty/sglang"]
	path = 3rdparty/sglang
	url = https://github.com/sgl-project/sglang.git
[submodule "3rdparty/vllm"]
	path = 3rdparty/vllm
	url = https://github.com/vllm-project/vllm.git
